@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-custom: #f1cb30;
  --primary-custom-100: #fbf7c6;
  --primary-custom-200: #f9ec8f;
}

::selection {
  background: var(--primary-custom-200);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
